body {
    height: 100vh;
    background-image: 
    url('imgs/bg.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Poppins';
}

.imgArriba {
  position: absolute;
  top: 3em;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
  width: auto;
  z-index: -1;
}


.imgArriba img {
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.container{
     text-align: center;
     padding: 8em 0;
     height: 80vh;
     margin: 0;
}

.container h1 {
    font-size: 3em;
    color: antiquewhite;
}

.container h1 + p {
    font-size: 1.5em;
    color: antiquewhite;
}


.popup{
    position: absolute;
    top: 400px;
    left: 7%;
    transform: translateX(-10%);
    text-align: center;
    padding: 2em;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 500px;
    z-index: 2;
    visibility: hidden;
    color: black;
}

.open-popup{
    visibility: visible;
}

#intro {
   text-align: left;
   margin: 6em 0 0 -10em;
}

.btn {
     width: 8em;
     background: none;
     border: none;
     padding: 0;             /*el botón y para que la estrella no tenga fondo*/
     cursor: pointer;
     display: flex;
     color: antiquewhite;
     flex-direction: column;
     align-self: flex-start;
}

.btn img{
     width: 100%;
}

.banner{
     margin: 2em auto;
     margin-bottom: 3em;
     text-align: center;
     padding: 2em;
     background-color: antiquewhite;
     border-radius: 10px;
     width: 35em;
     z-index: 1;
}

#pie {
    color: antiquewhite;
    text-align: center;
}

.logo {
    width: 35em;
    margin-bottom: 3em;
}

#bottom {
    transform: translateY(15%);
}

@media screen and (max-width: 1000px){
    .btn {
        width: 70px;
        margin-top: 3.5em;
        transform: translateX(280%);
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: small;
    }

    .container h1 {
        font-size: 2em;
    }

    .container h1 + p {
        font-size: 1.2em;
    }

    #intro {
        margin: 2em 1em;
        align-items: center;
    }

    .btn {
        width: 70px;
        margin-top: 3.5em;
        transform: translateX(150%);
    }

    .popup {
       top: 75%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: calc(90% - 2em);
       max-width: 400px;
    }

    .banner {
        padding: 1em;
        width: 90%;
        margin: 1em auto;
    }

    .imgArriba {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    transform: translateY(30%);
    }


    .imgArriba img {
    width: 100%;
    height: auto;
    object-fit: cover;
    }

    #pie {
        margin-top: 5em;
    }

    #bottom {
        margin-top: 7em;
    }

    .logo {
    width: 25em;
    margin-bottom: 3em;
    }

}